In [1]:
element=[5,4,7,3,9,3]
for i in element:
    print(i)

5
4
7
3
9
3

In [3]:
list1=[]
n=int(input("how many element u want to insert? "))
for i in range(0,n):
    list1.append(input("enter element: "))
print("the list is  :",list1)

how many element u want to insert? 5
enter element: 1
enter element: 2
enter element: 3
enter element: 4
enter element: 5
the list is  : ['1', '2', '3', '4', '5']

In [3]:
list2=[1,2,3,4,5,6,7,"a"]
list3=[]
for i in range(len(list2)):
    if i%2!=0:
        list3.append(list2[i])
print(list3)

[2, 4, 6, 'a']

In [4]:
list4=[1,2,3,4]
sum=0
mul=1
for i in list4:
    sum=sum+i
    mul=mul*i
print(sum)
print(mul)

10
24

In [10]:
list5=[8,4,11,7,90]
max1=max(list5)
min1=min(list5)
print(max1)
print(min1)

90
4

In [13]:
list7=["a","s","h","u","t","o","s","h"]
str1=""
for i in list7:
    str1=str1+i
print(str1)

ashutosh

In [22]:
def avg(*var,sum1=0):
    
    for i in var:
        sum1=sum1+i
    return sum1
sum2=avg(3,5,7,5,8,sum1=0)
average=sum2/2
print(average)

14.0

In [2]:
list9=[10,"a",2,3,5.5,1.34,"Abc","rt"]
list10=[]
for i in list9:
    list10.insert(0,i)
print(list10)

['rt', 'Abc', 1.34, 5.5, 3, 2, 'a', 10]

In [17]:
str1="python1.2"
list11=[]
for i in str1:
    list11.append(i)
list12=tuple(list11)
print(list12)

('p', 'y', 't', 'h', 'o', 'n', '1', '.', '2')